main{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}
nav{
  text-align: center;
  
}
.nav1, .nav2, .nav3, .nav4{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  margin: 5px;
  padding:2px;
}
hgroup{
  text-align: center;
}
.container1{
  border:1px solid gray;
  width: 100%;
  padding:10px;
  box-sizing: border-box;
   
}

